@font-face {
    font-family: 'Unbounded';
    src: url('../assets/fonts/Unbounded-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
}

body {
    font-family: "Unbounded", sans-serif;
    font-style: normal;
}

main,
header {
    max-width: 1440px;
    margin: 0 auto;
}

a:hover,
button:hover {
    opacity: 0.7;
}

.black {
    color: #000000 !important;
}

header {
    background-image: url(../assets/images/hand-m.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    display: none;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13.35px 0;
    gap: 6.65px;
}

.hero {
    width: 100%;
    padding: 160px 46px 60px 24px;

}

.concetti {
    max-width: 360px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 32px;
}

p,
ul {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
    color: #000000;
}

ul {
    list-style-type: disc;
    margin-left: 24px;
}

ul li::marker {
    font-size: 12px;
}

.wrap {
    display: flex;
    gap: 16px;
    align-items: center;
}

.wrap h2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.t-h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    max-width: 382px;
}

.t-w h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    text-transform: none;
}

.wrap p {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.0625;
    color: #FFFFFF;
}

.t-w p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.gold {
    display: none;
}

.section-wrap {
    padding: 80px 24px;
}

.gap-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 60px;
}

.gap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-items: flex-start;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.bg-g {
    background-color: #F0EFFC;
}

h4 {
    max-width: 298px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
    margin-block-start: 0;
}

.yellow {
    width: 60px;
    height: 60px;
    background-color: #FFE500;

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-g {
    display: flex;
    gap: 24px;
    align-items: center;
}

.img-mt {
    margin-top: 36px;
}

footer {
    background: #A3A5D1;
    padding: 73px 12px 80px 12px;
}

.list {
    color: #FFFFFF;
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 0;
    gap: 30px;
    margin-top: 20px;
}

.copy {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    opacity: 0.5;
}

.oswald {
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
}

input[type="email"] {
    background-color: #ECECEC;
    width: 75%;
    border: none;
    padding: 16px 19px;
    font-weight: 300;
    outline: none;
}

input::placeholder {
    color: #000000
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

button img {
    width: 60px;
    height: 60px;
}

@media screen and (min-width: 25rem) {
    .concetti {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 48rem) {
    header {
        background-image: url(../assets/images/hand.png);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 24px;
    }

    .concetti {
        font-size: 3.75rem;
    }

    .menu {
        color: #FFFFFF;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 30px;
    }

    .g-cover {
        max-width: 268px;
        padding: 16px 20px;
    }

    form {
        display: flex;
    }

    .generare-entrate {
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (min-width: 68rem) {

    nav {
        margin: 0 64px;
    }

    .hero {
        padding: 120px 64px;
    }

    .sca {
        font-weight: 500;
        font-size: 1rem;
        line-height: 120%;
        color: #000000;
        padding-bottom: 20px;
    }

    .for {
        font-weight: 300;
        font-size: 0.625rem;
        line-height: 120%;
        opacity: 0.6;
        padding-top: 20px;
    }

    .art-w {
        width: 65%;
    }

    .gold {
        width: 25%;
        display: block;
    }

    .section-wrap {
        padding: 80px 64px;
    }

    .al-st {
        text-align: start;
    }

    .t-w {
        padding: 80px 120px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .t-h2 {
        font-size: 3.75rem;
        max-width: 960px;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        max-width: 724px;
        font-size: 1.7rem;
    }
}